<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Syntax</title>
  </head>
  <body>
    <div id="app">
      <p v-bind:id="uuid">{{ num }}</p>
      <p>{{ doubleNum }}</p>
      <div v-if="isLoading">Loading...</div>
      <div v-else>Hello World</div>
      <div v-show="isLoading">display none</div>
      <div>
        <input type="text" v-model="message" placeholder="edit me" />
        <p>Message is: {{ message }}</p>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#app",
        data: {
          num: 10,
          uuid: "a123",
          isLoading: true,
          message: "",
        },
        computed: {
          doubleNum: function () {
            return this.num * 2;
          },
        },
      });
    </script>
  </body>
</html>
